extends ../layouts/front

block head
  title Drywall.js is Running

block feet
  script(src='/views/index.js')


block body
  div.hero-unit
    h1 #{projectName}
    p.lead
      | Your Node.js website and user system is running. May the force be with you.
      div
        a.btn.btn-large(href='/signup/') Create an Account
      div.clearfix

  div.main
    div.left 
      div 
        h3 AbasdasdsUs
        p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      div.footer
        div.cont
          div.inner
            ul.pull-right.inline
              li
                a(href="geertjan@withsomeclouds.com") Contact
              li 
                span.copyright
                  &#169; #{copyrightYear} #{copyrightName}

    div#right asddas