extends ../layouts/front

block head
  title Drywall.js is Running

block feet
  script(src='/views/index.js')

block fullwidth
  div.hero
    div.cont
      div.main
        div asdasdsad
  div.clearfix

block body
  div.main
    div.left 
      div 
        h3 AbasdasdsUs
        p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
      div.footer
        div.inner
          ul.pull-right.inline
            li
              a(href="geertjan@withsomeclouds.com") Contact
            li 
              span.copyright
                &#169; #{copyrightYear} #{copyrightName}

    div#right asddas